# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editores y sistema operativo
.vscode/
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
